.ng-scope {
    height: inherit;    
}

#app-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#app-wrapper #content {
    flex: 1;
}

#header.navbar {
    margin-bottom: 0;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    padding: 30px;
    border-radius: 7px;
}

drayage, register, distributor, store, labor {
    display:block;
}

drayage .jumbotron, register .jumbotron, distributor .jumbotron, store .jumbotron, labor .jumbotron {
    width: 80%;
}

register .jumbotron {
    width: 70%;
}